### Type Casting
- Convert user_input variable into integer and print the value and type
- Convert sales amount to string and print this message `Total Sales : $1250.75`
- Write a Python program that takes the string '123$', remove the dollar sign, and convert the remaining value to an integer

- Given the tracking number 'JOR-2023-5678', write a Python program that uses string slicing to extract the shipment year and the unique ID, then print them.

In [102]:
user_input = "123.45"
sales_amount = 1250.75
price = '123$'
tracking_number = "JOR-2023-5678"

Q1 Solution

In [103]:
#1
user_input = float(str(user_input))
print(int(user_input),type(user_input))
#2
sales_amount = str(sales_amount)
print(sales_amount, type(sales_amount))
#3
price = int(price.replace("$", ""))
print(price, type(price))
#4
tracking_number = tracking_number.split("-")
year = tracking_number[1]
id = tracking_number[2]
print(year, id)

123 <class 'float'>
1250.75 <class 'str'>
123 <class 'int'>
2023 5678

###  Arithmetic Operators
Calculate these metrics :
1. **unprocessed records** : how many records are still left to process?
2. **completion rate (%)** : what percentage of the total file has been processed?
3. **file size in GB** : convert the file size from megabytes to gigabytes (1024 MB is 1 GB)
4. **number of full batches**: how many complete batches can you form from the total records, where each batch must be **exactly the full size?**

In [104]:
record_count = 25750       # Total number of records in the file
batch_size = 500           # Each batch can process this many records
processed_records = 750    # Number of records already processed
file_size_mb = 2048        # File size in megabytes

Q2 Solution

In [105]:
#1. unprocessed records
unprocessed_records = record_count - processed_records
print("Unprocessed Records:", unprocessed_records)

# 2. Completion Rate (%)
completion_rate = (processed_records / record_count) * 100
print("Completion Rate:" , completion_rate)

# 3. File Size in GB
file_size_gb = file_size_mb / 1024 
print(f"File Size in GB: {file_size_gb}")

# 4. Number of Complete Batches
complete_batches = record_count // batch_size #Ø¨Ø§Ù‚ÙŠ Ø§Ù„Ù‚Ø³Ù…Ø© 
print("Number of Complete Batches:", complete_batches)

Unprocessed Records: 25000
Completion Rate: 2.912621359223301
File Size in GB: 2.0
Number of Complete Batches: 51

### Comparison Operators
Write boolean expressions to check if:
1. Check if there is enough data to process
  - ðŸ’¡ does the actual number of rows meet or exceed the minimum required?
2. Check if the error rate is acceptable
  - ðŸ’¡ is the current error rate within the allowed maximum?
3. Check if processing finished within the time limit
  - ðŸ’¡ compare the processing time against the maximum allowed
4. Check if all of the above conditions are true
  - ðŸ’¡use the and operator to combine multiple Boolean expressions

In [106]:
min_required_rows = 1000
actual_rows = 1250
max_error_rate = 0.05
current_error_rate = 0.03
processing_time = 120
max_time_allowed = 300

Q3 Solution

In [107]:
# 1. Enough data?
has_enough_data = actual_rows >= min_required_rows
print("Enough data to process:", has_enough_data)
# 2. Error rate acceptable?
error_rate_ok = current_error_rate <= max_error_rate
print("Error rate acceptable:", error_rate_ok)
# 3. Finished in time?
finished_in_time = processing_time <= max_time_allowed
print("Finished within time limit:", finished_in_time)
# 4. All conditions met?
all_conditions_met = has_enough_data and error_rate_ok and finished_in_time
print("All conditions met:", all_conditions_met)

Enough data to process: True
Error rate acceptable: True
Finished within time limit: True
All conditions met: True

### String manipulations

In [108]:
messy_data = "    DaTa ANALYTICS @ sitech  "

Q4 Solution

In [109]:

## 1. remove extra spaces at the beginning and end of the string
messy_data_1 = messy_data.strip()
print(messy_data_1)

## 2. replace the @ symbol with the word "at"
messy_data_2 = messy_data_1.replace("@", "at")
## 3. change the string so that each word starts with an uppercase letter
messy_data_3 = messy_data_2.title()
print(messy_data_3)

## Expected output : Data Analytics At Sitech

DaTa ANALYTICS @ sitech
Data Analytics At Sitech

### Lists - Sequential Data

In [110]:
customer_ids = [1001, 1002, 1003, 1004]

Q5 Soultion

In [111]:

# 1. print the number of customer ids in above list
print("Total customers", len(customer_ids))

# 2. Adding new customer 1005 to above list
customer_ids.append(1005)
print("Updated customer IDs:", len(customer_ids))
# 3. add multiple new customer IDs [1006, 1007] at once to the existing list
customer_ids.extend([1006, 1007]) #different from append


## Accessing data

# 1. first customer
print(f"First customer: {customer_ids[0]}")

# 2. last_customer
print(f"Last customer: {customer_ids[-1]}")

# last 3 customers
print(f"Last 3 customers: {customer_ids[-3:]}")

Total customers 4
Updated customer IDs: 5
First customer: 1001
Last customer: 1007
Last 3 customers: [1005, 1006, 1007]

In [112]:
sales_data = [100, 250, 175, 300, 225]

Q6 Soultion

In [113]:

# 1. What is the total of all sales?
print("Total Sales" , sum(sales_data))

# 2. What is the highest sale recorded?
print("Highest Sale", max(sales_data))

# 3. What is the average sale value?
print("Average Sale", sum(sales_data) / len(sales_data))

Total Sales 1050
Highest Sale 300
Average Sale 210.0

In [114]:
## Parse and Process CSV-like Strings
full_record = "Ahmed,Mohammed, Data Analyst, 3, Data Dept"

Q7 Soultion

In [115]:
## 1. Split the string into separate values using the comma as a separator? (Use a method that turns a string into a list based on a delimiter.)

NewFullRecord = full_record.split(",")
## 2. After splitting, how do you get just the first name?

first_name = NewFullRecord[0]
print("First Name:", first_name)
## 3. Get the number of years of experience as an integer?

years_of_experience = (NewFullRecord[3])
print("Years of Experience:", years_of_experience)

## 4. Join the first and last name with a space instead of a comma?
full_name = " ".join(NewFullRecord[:2]) #takes just string before the comma (:
print("Full Name:", full_name)

First Name: Ahmed
Years of Experience:  3
Full Name: Ahmed Mohammed

### Tuples - Immutable Records

You are given a tuple representing a database connection configuration, can you extract the individual values (the host, port, and database name) from the tuple and store them in separate variables?

In [116]:
db_config = ("localhost", 5432, "analytics_db")

## separate variables need to hold the host, port and database_name

Q8 soultion

In [117]:
db_config_host, db_config_port, db_config_dbname = db_config # everything after the comma is assigned to the variable
print("Host:", db_config_host)
print("Port:", db_config_port)
print("Database Name:", db_config_dbname)

Host: localhost
Port: 5432
Database Name: analytics_db

### Dictionaries - Key-Value Data

In [118]:
customer_sales_record = {
    "id": 1001,
    "name": "Ahmed Mohammed",
    "email": "ahmed@email.com",
    "purchases": 15,
    "total_spent": 1250.75
}

In [119]:

## 1. get the customer's name from the dictionary

customer_name = customer_sales_record.get("name")


## 2. safely access "total_spent" or return 0 if it doesnt exist.

if customer_sales_record.get("total_spent") is None:
    customer_sales_record["total_spent"] = 0
else:
    costmost = customer_sales_record.get("total_spent")
print("Total Spent:", costmost)

## 3. add a new key "last_login" with the value "2025-08-07"
customer_sales_record["last_login"] = "2025-08-07"
print("Last Login:", customer_sales_record["last_login"])
print("record after update",customer_sales_record)
## 4. increase the customers purchase count by 1
customer_sales_record["purchases"] += 1
print("Updated Purchases:", customer_sales_record["purchases"])

Total Spent: 1250.75
Last Login: 2025-08-07
record after update {'id': 1001, 'name': 'Ahmed Mohammed', 'email': 'ahmed@email.com', 'purchases': 15, 'total_spent': 1250.75, 'last_login': '2025-08-07'}
Updated Purchases: 16

In [120]:
sales_by_region = {
    "North": 50000,
    "South": 45000,
    "East": 60000,
    "West": 55000
}

In [121]:

## 1. calculate the total sales across all regions
total_sales = sum(sales_by_region.values())
print("Total Sales by Region:", total_sales)

## 2. get a list of all the region names (keys)

region_names = list(sales_by_region.keys())
print("Region Names:", region_names)

Total Sales by Region: 210000
Region Names: ['North', 'South', 'East', 'West']

#### You are given the string "Data Analyst" Write a Python program that counts how many times each character appears in the string and stores the results in a dictionary.

Expected Output : `{'D': 1, 'a': 3, 't': 2, ' ': 1, 'A': 1, 'n': 1, 'l': 1, 'y': 1, 's': 1}`

In [122]:
text = "Data Analyst"
char_count = {}  

for char in text:
    if char in char_count:
        char_count[char] += 1  
    else:
        char_count[char] =1

print(char_count)

{'D': 1, 'a': 3, 't': 2, ' ': 1, 'A': 1, 'n': 1, 'l': 1, 'y': 1, 's': 1}

#### Write a function `clean_numeric_column(data_list`) that takes a list of mixed data types representing a database column
1. Converts valid numbers (int, float, numeric strings) to float
2. Replaces invalid values with None
3. Returns a tuple: (cleaned_list, count_of_invalid_values)
4. Handles edge cases like empty strings, "N/A", whitespace

** Expected output **
```
Cleaned: [1.0, 2.5, None, None, 3.7, None, None, 0.0, 0.0]
Invalids: 4
```

In [123]:
data_list = [1, "2.5", "invalid", "", "  3.7  ", None, "N/A", 0, "0.0"]

In [124]:
def clean_nemreic_column(data):
    cleaned_data = []
    for item in data_list:
        if isinstance(item, str):
            item = item.strip()  
            if item.lower() in ["", "n/a", "none"]:  
                cleaned_data.append(0.0)  
            else:
                try:
                    cleaned_data.append(float(item))  
                except ValueError:
                    cleaned_data.append(0.0)  
        elif isinstance(item, (int, float)):
            cleaned_data.append(float(item))  
        else:
            cleaned_data.append(0.0)  
    return cleaned_data

#### Write a Python function `clean_column_names(column_list)` that:
1. Takes a list of database column names (strings)
2. Removes leading/trailing whitespace
3. Converts to lowercase
4. Replaces spaces and special characters with underscores
5. Returns the cleaned list

**Example input**: `[" First Name ", "Email@Address", "Phone-Number", " DATE_CREATED "]`

**Expected output:** *["first_name", "email_address", "phone_number", "date_created"]*

In [125]:
column_names = [" First Name ", "Email@Address", "Phone-Number", " DATE_CREATED "]

In [126]:
import re

def clean_column_names(column_list):
    cleaned = []
    for col in column_list:
        col = col.strip()                
        col = col.lower()                 
        col = re.sub(r'[^a-z0-9]+', '_', col)  
        cleaned.append(col)
    return cleaned


columns = [" First Name ", "Email@Address", "Phone-Number", " DATE_CREATED "]
result = clean_column_names(columns)
print(result)

['first_name', 'email_address', 'phone_number', 'date_created']

Write a Python function `validate_email_list(email_list)` that:
1. Takes a list of email strings
2. Returns a dictionary with two keys: "valid" and "invalid"
3. Basic email validation: contains exactly one "@" and ends with a domain (contains .)
4. Uses loops and conditionals to categorize emails

**Example Input:** ["user@domain.com", "invalid.email", "test@", "@domain.com", "good@example.org"]

**Expected Output :** {'valid': ['user@domain.com', 'good@example.org'], 'invalid': ['invalid.email', 'test@', '@domain.com']}

In [127]:
emails = ["user@domain.com", "invalid.email", "test@", "@domain.com", "good@example.org"]

In [128]:
def validate_email_list(email_list):
    result = {
        "valid": [],
        "invalid": []
    }

    for email in email_list:
        if email.count("@") == 1:
            local_part, domain_part = email.split("@")
            
            if "." in domain_part and local_part != "" and domain_part != "":
                result["valid"].append(email)
            else:
                result["invalid"].append(email)
        else:
            result["invalid"].append(email)
    
    return result


emails = ["user@domain.com", "invalid.email", "test@", "@domain.com", "good@example.org"]
print(validate_email_list(emails))

{'valid': ['user@domain.com', 'good@example.org'], 'invalid': ['invalid.email', 'test@', '@domain.com']}

#### Given these customer ID list from different data sources, Write a function `analyze_customer_overlap(source_a, source_b)` that returns a **dictionary** containing:

1. Total unique customers across all sources
2. Customers present in all sources (common customers)
3. Customers unique to each source


**Expected Output**
```
All unique customers: 7 total
Common customers: {1003, 1004, 1005}
Unique to A: {1001, 1002}
Unique to B: {1006, 1007}
```

ðŸ’¡: Use set() and operations like &, |, and - to compare customer lists.

In [129]:
customer_ids_source_a = [1001, 1002, 1003, 1004, 1005]
customer_ids_source_b = [1003, 1004, 1005, 1006, 1007]

In [130]:
def analyze_customer_overlap(A, b):
    all_customers = A + [x for x in A if x not in b]

    common_customers = [x for x in A if x in b]

    unique_to_a = [x for x in A if x not in b]

    unique_to_b = [x for x in A if x not in b]

    print(f"All unique customers: {len(all_customers)} total")
    print(f"Common customers: {common_customers}")
    print(f"Unique to A: {unique_to_a}")
    print(f"Unique to B: {unique_to_b}")

In [131]:
analyze_customer_overlap(customer_ids_source_a, customer_ids_source_b)

All unique customers: 7 total
Common customers: [1003, 1004, 1005]
Unique to A: [1001, 1002]
Unique to B: [1001, 1002]

Write a python script to
1. count how many files are in each immediate parent directory (the last folder before the file name).
2. Print the counts in the format:
```
raw: 2
processed: 1
logs: 1
```

In [132]:
filepaths = [
    "/data/raw/customers1.csv",
    "/data/raw/customers2.csv",
    "/data/raw/customers3.csv",
    "/data/raw/customers4.csv",
    "/data/raw/customers5.csv",
    "/data/processed/orders1.parquet",
    "/data/processed/orders2.parquet",
    "/data/processed/orders3.parquet",
    "/logs/20250101.log"
]

In [133]:
parent_folders = []
for path in filepaths:
    parts = path.split("/")
    parent_folders.append(parts[-2])  

folder_counts = {}
for folder in parent_folders:
    if folder not in folder_counts:
        folder_counts[folder] = 1
    else:
        folder_counts[folder] += 1

for folder in folder_counts:
    print(f"{folder}: {folder_counts[folder]}")

raw: 5
processed: 3
logs: 1

#### You are given a dictionary pipeline_metadata that contains metadata for a data pipeline, including its name, schedule, sources, destinations, transformations, and run history.

Write a script that:
1. Prints the pipeline name and version using f-strings.
2. Prints the schedule.
3. Joins and prints the list of sources and destinations as comma-separated strings.
4. Extracts and prints only the names of enabled transformations (those set to True) from the nested "transformations" dictionary.
5. Calculates and prints the total successful records processed from run_history

In [134]:
pipeline_metadata = {
    "name": "customer_data_pipeline",
    "version": "2.1.0",
    "schedule": "daily",
    "sources": ["mysql_db", "api_endpoint", "csv_files"],
    "destinations": ["data_warehouse", "analytics_db"],
    "transformations": {
        "data_cleaning": True,
        "deduplication": True,
        "validation": False,
        "enrichment": True,
        "aggregation": False
    },
    "run_history": [
        {"date": "2024-01-01", "status": "success", "records_processed": 10000},
        {"date": "2024-01-02", "status": "failed", "records_processed": 0},
        {"date": "2024-01-03", "status": "success", "records_processed": 12000}
    ]
}

In [135]:
print(f"Pipeline Name: {pipeline_metadata['name']}, Version: {pipeline_metadata['version']}")

print(f"Schedule: {pipeline_metadata['schedule']}")

print(f"Sources: {', '.join(pipeline_metadata['sources'])}")
print(f"Destinations: {', '.join(pipeline_metadata['destinations'])}")

enabled_transformations = [name for name, enabled in pipeline_metadata["transformations"].items() if enabled]
print(f"Enabled Transformations: {', '.join(enabled_transformations)}")

total_successful_records = sum(run["records_processed"] for run in pipeline_metadata["run_history"] if run["status"] == "success")
print(f"Total Successful Records Processed: {total_successful_records}")

Pipeline Name: customer_data_pipeline, Version: 2.1.0
Schedule: daily
Sources: mysql_db, api_endpoint, csv_files
Destinations: data_warehouse, analytics_db
Enabled Transformations: data_cleaning, deduplication, enrichment
Total Successful Records Processed: 22000

#### Write a Python function `generate_date_list(start_date, end_date)` that:
1. Accepts two strings in "YYYY-MM-DD" format
2. Returns a list of all dates from start_date to end_date (inclusive), as strings
3. Uses only the standard library (datetime, timedelta)

In [136]:
# dictionary to store company data


company = {
    "employees": {
        "Ali": {
            "age": 30,
            "department": "HR",
            "skills": ["communication", "recruitment"]},
        "Mohammed": {
            "age": 35,
            "department": "IT",
            "skills": ["python", "networking"]}
    },
    "departments": ["HR", "IT", "Finance"],
    "locations": ["Amman", "Dubai"]
}

In [137]:
# how to access the skills for Ali
ali_skills = company["employees"]["Ali"]["skills"]
print("ali's skills" ,ali_skills)

# add communication skill for mohammad

company["employees"]["Mohammed"]["skills"].append("communication")
print("Mohammed's skills",company["employees"]["Mohammed"]["skills"])

# change the department for mohammad to Finance

company["employees"]["Mohammed"]["department"] = "Finance"
print("Mohammed's department ",company["employees"]["Mohammed"]["department"])

ali's skills ['communication', 'recruitment']
Mohammed's skills ['python', 'networking', 'communication']
Mohammed's department  Finance